.row.next-travels
    each travel in travels
        .col-md-6.col-lg-4.mb-4
            .card
                img(src=`img/destinos_${travel.image}.jpg`, class="img-fluid")
                .card-body
                    h2 #{travel.title}
                    p
                        i.fas.fa-calendar-alt
                        |  #{travel.departureDate} - #{travel.returnDate}
                    p
                        i.fas.fa-euro-sign
                        |  #{travel.price}
                    p #{travel.description.substr(0,100)}
                    a(href=`travels/${travel.travelID}`, title="More info",class="btn btn-success btn-block") Details